<h4>
    Search {{objects}} objects and {{effects}} status effects via the
    search box above.
</h4>
<ul class="list-group">
    <li class="list-group-item">
        View <a href="object-props.html">object properties</a>
    </li>
    <li class="list-group-item">
        View <a href="statuseffect-props.html">statuseffect properties</a>
    </li>
</ul>
