<div class="panel panel-default object">
  <div class="panel-heading">
    <h3 class="panel-title">{{objectName}} - {{description}}</h3>
  </div>
  <div class="panel-body">
    <div>
        <img src="{{img}}" class="img-thumbnail">
        {{full_path}}
        <code>{{json}}</code>
    </div>
  </div>
</div>
