.list-item {
    padding: 5px;
}
code {
    margin-left: 10px;
    margin-top: 10px;
    white-space: pre;
    display: block;
    color: #3a3f44;
    background-color: #f5f5f5;
}
code a .hljs, code a .hljs:hover {
    color: #007bff !important
}
code a .hljs:hover, code a .hljs:focus {
    color: #0056b3 !important;
}
.objects .value {
    display: inline-block;
    padding: 5px;
}
.well {
    margin-top: 20px;
}
.object img {
    width: 96px;
    margin: 0 10px 10px 0;
}
#search .empty-message {
    padding: 5px 10px;
    text-align: center;
}
.tt-menu {
    background-color: #000;
}
.tt-suggestion {
    padding: 5px 10px;
}
.tt-menu {
    max-height: 250px;
    overflow-y: auto;
}
.typeahead-result {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.typeahead-result div {
    display: inline-block;
    vertical-align: top;
}
.typeahead-img {
    padding-right: 5px;
    padding-top: 5px;
}
#search .form-control {
    min-width: 300px;
}
